- op: add
  path: /spec/template/spec/securityContext
  value:
    fsGroup: 101

- op: add
  path: /spec/template/spec/volumes
  value:
    - name: nginx-cache
      emptyDir: {}
    - name: nginx-run
      emptyDir: {}

- op: add
  path: /spec/template/spec/containers/0/volumeMounts
  value:
    - name: nginx-cache
      mountPath: /var/cache/nginx
    - name: nginx-run
      mountPath: /var/run
