---
- name: Deploy DevOps Project on AWS EKS
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - vars.yml

  tasks:

    - name: Ensure AWS CLI is working
      shell: aws sts get-caller-identity
      register: aws_identity

    - debug:
        msg: "AWS user: {{ aws_identity.stdout }}"

    - name: Run Terraform to provision VPC + EKS
      shell: |
        cd ../terraform
        terraform init
        terraform apply -auto-approve
      register: terraform_output

    - debug:
        msg: "{{ terraform_output.stdout }}"

    - name: Update kubeconfig for the new cluster
      shell: aws eks update-kubeconfig --name {{ cluster_name }} --region {{ region }}
      register: kubeconfig_update

    - debug:
        msg: "{{ kubeconfig_update.stdout }}"

    - name: Create ArgoCD namespace
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ argo_namespace }}"
        kubeconfig: "{{ kubeconfig }}"

    - name: Add Helm repo for ArgoCD
      community.kubernetes.helm_repository:
        name: argo
        repo_url: https://argoproj.github.io/argo-helm

    - name: Install ArgoCD using Helm
      community.kubernetes.helm:
        name: argocd
        chart_ref: argo/argo-cd
        release_namespace: "{{ argo_namespace }}"
        create_namespace: true
        kubeconfig: "{{ kubeconfig }}"
        wait: yes

    - name: Deploy GitOps Application via ArgoCD
      shell: kubectl apply -f ../gitops/argo/application.yaml -n "{{ argo_namespace }}"
      args:
        executable: /bin/bash
