apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cobank
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: cobank-backend:PLACEHOLDER_TAG
          ports:
            - containerPort: 5000
