apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cobank
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: localhost/cobank-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
