apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cobank

resources:
  - namespace.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - services.yaml
  - hpa.yaml
